.header {
    background-color: #38405F;
    padding: 20px;
    text-align: center;
    max-width: fit-content;
    max-height: fit-content;
    margin:  auto auto;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "ZZTalk-SemiBold", sans-serif;
    font-size: 4vh;
    margin: 0;
    padding: 0;
    background-color: #F5F7DC;
    color: #BEB0A7;
}

@font-face {
    font-family: "ZZTalk-SemiBold";
    src: url('../assets/fonts/ZTTalk-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}



footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    max-width: fit-content;
    margin:  auto auto;
    border-radius: 10px;
    margin-top: 1000px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
}

.button {
    --bg: #0E131F;
    --hover-bg: #59546C;
    --hover-text: #0E131F;
    color: #BEB0A7;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    margin-top: 10px;
    font-size: 3vh;
    font-family: "ZZTalk-SemiBold", sans-serif;
}
  
.button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}
  
.button:active {
    transform: translate(0);
    box-shadow: none;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}